header {
    text-align: center;
    background-color: slategray;
}
#city-search {
    background-color: #C0C0C0;
    height: 100vh;
}
#search-btn {
    margin-left: -20px;
}
#today-forecast {
    height: 50vh;
    border-style: solid;
    border-width: 1px;
    margin: 5px;
    padding: 5px;
    border-radius: 30px;
    visibility: hidden;
}
#five-day-forecast {
    visibility: hidden;
    margin: 5px;
}
.cards {
    display:flex;
}
.card {
    margin: 5px;
}