header {
    text-align: center;
    background-color: slategray;
}
#city-search {
    background-color: #C0C0C0;
    height: 100vh;
}
#city-search h3 {
    margin-left: 15px;
}
#search-bar {
    margin-left: 5px;
}
#search-history {
    margin-left: 5px;
}
#search-btn {
    margin-left: -20px;
}
#city-list {
    background-color: white;
    margin-top: 20px;
    list-style-type: none;
    visibility: hidden;
}
#today-forecast {
    height: 50vh;
    border-style: solid;
    border-width: 1px;
    margin: 5px;
    padding: 5px;
    border-radius: 30px;
    visibility: hidden;
}
#forecast-head {
    display:flex;
}
#name-date {
    margin-right: 10px;
}
#five-day-forecast {
    visibility: hidden;
    margin: 5px;
}
.cards {
    display:flex;
}
.card {
    margin: 5px;
}